<turbo-frame id="newsletter_turbo_frame_id">
    <div class="alert alert-success" role="alert">
        <h4><i class="fa-regular fa-thumbs-up"></i> {{ 'on_newsletter_form_submit_success' | trans }}</h4>
        {{ 'newsletter.flash.register' | trans }}
    </div>
</turbo-frame>
