// custom color variables
$lp-base-percent: 25%;
$lp-color-white: #FFFFFF;
$lp-color-ultra-black: #0E131C;
$lp-color-black: #151920;
$lp-color-light-grey: #78838C;
$lp-color-ultra-light-grey: #CBCFD1;
$lp-color-red: #FF004E;
$lp-color-teal: #59F3C1;
$lp-color-purple: #3B1493;
$lp-color-yellow: #FFDF4A;

// admin
$magenta: #F92178;
$magenta-dark: #6E032E;
$white: #FFFFFF;
